@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* reset */
html {font-size:100%}
body {
    font:normal 12px 'Open Sans','돋움',dotum, Verdana, sans-serif;
	line-height:1.6;
	color:#666666;
	margin:0;
	padding:0;
	background-color: #e5e5e4;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol, li {list-style:none;}
a:link, a:visited {color: #666666;text-decoration:none;}
a:hover {color:#339900; text-decoration: none;}
table {border-collapse: collapse; width: 100%}
table > caption {visibility: hidden; height: 0;}
i {font-family: verdana; font-style: normal;}

button{
border-width: 0px;
border-style: none;
border-color: initial;
border-image: initial;
}

.blind {
display: inline-block;
overflow: hidden;
text-indent: -999em;
font-size:0px;
}

svg {fill:currentColor;vertical-align: top;}
img {vertical-align: top;}

/* 레이아웃 */

*{transition: all 400ms ease;}
.wrap {width: 100%; max-width: 1560px; margin: 0 auto; position: relative;}
.header {
	width: 100%; background-color: white; max-width: 1560px; margin: 0 auto;
	position: fixed; top: 0; z-index: 1000;}
.main {background: #fff; clear: both; margin-top: 111px;}

/* common style 시작 */

/* common style 끝 */





/* header 시작 */
.header {background: #fff;}
.header .hm {float: left; padding-bottom: 20px;}
.header > .logo {padding-top: 25px; float: left; margin-right: 62px;}
.header > .logo a {display: inline-block; margin-left: -50px;}
.header > .logo svg {vertical-align: top; width: 76px; height: 18px;}
.header nav {float: left; display: none;}
.header nav ul {overflow: hidden; }
.header nav li {float: left; font-size: 18px; font-weight: 300; position: relative;}
.header nav li a {display: inline-block; padding: 20px 15px;}
.header nav li a:before {
	content: ''; clear: both; 
	background-color: #0d696c; position: absolute; 
	top: 0; left: 0; right: 0;
	height: 4px; display: none;
}
.header nav li a:hover:before {display: block;}
.header nav li + li {margin-left: 5px;}
.header .util {
	float: right; overflow: hidden; margin-right: 27px;
	font-size: 0px;
}
.header nav li.ride a:before {
	content: ''; display: block; clear: both; 
	background-color: #0d696c; position: absolute; 
	top: 0; left: 0; right: 0;
	height: 4px;
}
.header .util > * {font-size: 14px; color:#1e1e1e; margin-top: 13px;}
.header .util .help {margin-right: 36px; display: none;}
.header .util .signin {margin-right: 41px; display: none;}
.header .util .apply {
	color: white; text-align: center; padding-top: 10px; font-size: 10px;
	display: inline-block; background-color: #0d696c; width: 105px; height: 30px;
	margin-right: 25px;
}
.header .util .location {display: inline-block;}
.header .util .location svg {vertical-align: top;}
.header .side_menu {
	position: fixed; top: 0; left: 0; bottom: 0; min-width: 280px;
	color: white; background-color: black; padding: 25px 30px 50px 30px;z-index: 10000;
	overflow: auto;
}
.header .side_menu .logo {float: left; margin-top: 5px;}
.header .side_menu .logo a {display: inline-block;}
.header .side_menu .logo svg {vertical-align: top; width: 75px; height: 16px;}
.header .side_menu .sign_in a {
	color: white; display: inline-block;
}
.header .side_menu .sign_in img {
	padding:5px; vertical-align: top;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 30px; margin-right: 10px;
}
.header .side_menu .sign_in span {
	font-size: 14px; font-weight: 100; display: inline-block; margin-top: 2px;
}
.header .side_menu > a {
	display: block; clear: both;
	text-align: center; font-size: 14px;
}
.header .side_menu > a.sign_up {
	background-color: white; height: 34px; padding-top: 10px;
	margin-top: 70px; font-weight: 600; color: black;
}
.header .side_menu > a.become {margin-top: 14px; height: 30px; border: 2px solid white; padding-top: 10px; color: white;
}
.header .side_menu .menu_wrap a {
	color: white; font-size: 14px; display: block; font-weight: 200;
}
.header .side_menu .menu_wrap svg {vertical-align: top; padding-top: 3px; margin-right: 10px;}
.header .side_menu .menu_wrap .area_top {margin-top: 70px;}
.header .side_menu .menu_wrap .area_middle {margin-top: 55px;}
.header .side_menu .menu_wrap .area_bottom {margin-top: 55px;}
.header .side_menu .menu_wrap .area_bottom a {font-size: 12px;}
.header .side_menu .menu_wrap li + li {margin-top: 30px;}
.header .side_menu .menu_wrap li.link {background: url(../images/icon_link.gif) no-repeat right center;}
.header .side_menu .closed {position: absolute; top: 27px; left: 15px;}
.header .side_menu .closed svg {vertical-align: top;}
.header .sub_menu {background-color: #f8f8f9; clear: both; height: 48px;}
.header .sub_menu ul {overflow: hidden; margin-left: 6%/*54px*/; width: 500px;}
.header .sub_menu li {float: left;}
.header .sub_menu li a {
	font-size: 14px; display: inline-block; padding-top: 15px; color: #8b8b8b;
}
.header .sub_menu li + li {margin-left: 30px;}

@media screen and (min-width: 769px){
 
.header .util .signin {margin-right: 41px; display: none;}
.header .util .apply {
	color: white; text-align: center; padding-top: 10px; font-size: 12px;
	display: inline-block; background-color: #0d696c; width: 143px; height: 30px;
	margin-right: 25px;
}
.header .side_menu {
	position: fixed; top: 0; left: 0; bottom: 0; min-width: 380px;
	color: white; background-color: black; padding: 25px 50px 0 90px;
	overflow: auto;
}
.header .side_menu .sign_in {float: right; }
.header .side_menu .closed {position: absolute; top: 27px; left: 20px;}
.header .sub_menu ul {overflow: hidden; margin-left: 6.794871794%; /*106px*/;}

}

@media screen and (min-width: 1024px){

.header .hm {float: left;}
.header > .logo a {display: inline-block; margin-left: 0px;}
.header > .logo svg {vertical-align: top; width: 76px; height: 18px; }
.header nav {float: left; display: block;}
.header nav ul {overflow: hidden;}
.header .util .help {margin-right: 36px; display: inline-block;}
.header .util .signin {margin-right: 41px; display: inline-block;}
.header .util .apply {
	color: white; text-align: center; padding-top: 10px; font-size: 12px;
	display: inline-block; background-color: #0d696c; width: 143px; height: 30px;
	margin-right: 25px;
}
.header .side_menu {
	position: fixed; top: 0; left: 0; bottom: 0; min-width: 300px;
	color: white; background-color: black; padding: 25px 30px 0 10%;
	overflow: auto;
}
.header .side_menu .closed {position: absolute; top: 27px; left: 20px;}
.header .sub_menu ul {overflow: hidden; margin-left: 6.794871794%; /*106px*/}

}


/* header 끝 */


/* main - index 시작 */
/* main - index 끝 */

/* main - ride 시작 */
.main .ride {min-width: 425px; width: 100%; background-color: #fff;}
.ride .row_01 {
	width: 100%; position: relative; overflow: hidden;
}
.ride .row_01:after { 
	content: ''; display: block; clear: both; 
    left:4.705882352%; right: 0; bottom: 0; height: 40px;
    background-color: white; position: absolute;
}
.ride .row_01 .img {
	background: url(../images/desk-ride-hero-c55d08a014.jpg) no-repeat 50% 50%;
	background-size: cover;
	width: 87.058823529%; height: 317px; float: left;
}
.ride .row_01 .bg {
	width: 12.941176471%; height: 317px; float: left; background: url(../images/row1_bg.svg) #3b1eb1;
}
.ride .row_01 p {
	position: absolute; right: 30px; bottom: 0px ; clear: both; padding: 15px;
	width: 147px; height: 147px; background-color: #0d696c; color: white; 
      font-size: 16px; font-weight: 200; z-index: 100;
}
.ride .row_01 p a {color: white;}
.ride .row_01 p span {display: block; margin-bottom: 80px;}
.ride .row_01 p em {display: inline-block; font-style: normal; position: relative;}
.ride .row_01 p em i {font-size: 20px; position: absolute; top: 2px; right: -30px;}
.ride .row_01 p .sign {display: none;}
.ride .row_02 {
      background-color: white; margin-top: 20px;
      padding: 0 7.058823529% 0 7.058823529%; overflow: hidden;
}
.ride .row_02 h2 {
      font-size: 28px; font-weight: 200; width: 100%; line-height: 38px;     
      margin-bottom: 40px;
}
.ride .row_02 h2 b {font-weight: 200;}

.ride .row_02 strong {color: black; font-weight: 200; display: block;}
.ride .row_02 i {
      background-color: #c6c6c6; width: 40px; height: 2px; display: block;
      margin-bottom: 20px;
}
.ride .row_02 p {font-size: 22px; font-weight: 200; color: black;}
.ride .row_02 span {font-size: 14px; display: inline-block; font-weight: 200; color: black; margin-top: 10px;}

.ride .row_02 > div:nth-child(3),
.ride .row_02 > div:nth-child(4) {margin-top: 60px;}
.ride .row_02 > div:nth-child(4) > a {
      color: #297a7d; font-weight: 600; margin-top: 30px; font-size: 14px;
      display: inline-block; margin-bottom: 60px;
}

.ride .row_03:before { 
	content: ''; display: block; clear: both;
    left:4.705882352%; right: 0; top: 0px; height: 40px;
    background-color: white; position: absolute;
} 
.ride .row_03 {
	background-color: #f8f8f9; padding: 0 0 0 7.058823529%;
	overflow: hidden; position: relative; height: 750px;
}
.ride .row_03 h3 {font-size: 20px; font-weight: 200; margin-top: 80px; color: gray; color: black;}
.ride .row_03 h3 b {font-weight: 200; display: inline-block;}
.ride .row_03 h3 b + b {display: block; font-weight: 200; color: gray;}
.ride .row_03 > div {position: relative;}
.ride .row_03 > div > ul {
    width: 200%; margin-top: 40px; border-bottom: 2px solid #e5e5e4; padding-bottom: 42px;
}
.ride .row_03 > div > ul > li {float: left;}
.ride .row_03 > div > ul > li + li {padding-left: 30px;}
.ride .row_03 > div > ul > li > a {
	font-weight: 600; font-size: 15px; color: black; padding-bottom: 20px;
}
.ride .row_03 > div > ul > li > a.on {border-bottom: 2px solid #0d696c;}
.ride .row_03 > div > ul > li > a:hover {
	border-bottom: 2px solid #0d696c; color: #0d696c;
}
.ride .row_03 > div > ul > li ul {position: absolute; min-width: 100%; left: 0; top: 100px;}
.ride .row_03 > div > ul > li ul li > p {margin-right: 7.058823529%;}
.ride .row_03 > div > ul > li ul li > p.bg_01 {background: url(../images/car_01_bg.svg); background-size: cover;}
.ride .row_03 > div > ul > li ul li > p.bg_02 {background: url(../images/car_02_bg.svg); background-size: cover;}
.ride .row_03 > div > ul > li ul li > p.bg_03 {background: url(../images/car_03_bg.svg); background-size: cover;}
.ride .row_03 > div > ul > li ul li > p.bg_04 {background: url(../images/car_04_bg.svg); background-size: cover;}
.ride .row_03 > div > ul > li ul li > p img {width: 100%;}
.ride .row_03 > div > ul > li ul li > div {
	width: 100%; overflow: hidden; margin-top: 20px; min-width: 100%;
}
.ride .row_03 > div > ul > li ul li > div div {font-weight: 200;}
.ride .row_03 > div > ul > li ul li > div p {font-size: 20px; color: black; margin-right: 7.058823529%;}
.ride .row_03 > div > ul > li ul li > div p + a {
	font-size: 14px; color: #599799; display: inline-block; margin: 30px 0 30px ;
}
.ride .row_03 > div > ul > li ul li > div a.btn {
	background-color: #0d696c; display: block; color: white; padding: 10px 15px; font-size: 14px; margin-right: 7.058823529%; position: relative;
}
.ride .row_03 > div > ul > li ul li > div a.btn i {
	font-size: 20px; position: absolute; right: 10px;
}
.ride > .row_04 {height: 278px; position:relative; clear: both;}
.ride > .row_04 > div > .gmap {display: none;}
.ride > .row_04 > div > .gmap_s {height: 278px;width: 100%;position:absolute;background: url(../images/map.jpg) 50% 50%; background-size: cover;}
.ride > .row_04 > div > .estimate {width:329px;padding: 32px;position: absolute;bottom:-32px;right:0px;background: #fff;z-ride: 10; } 
.ride > .row_04 > div > .estimate > p {color: #494949;font-size: 16px;line-height: 2;}
.ride > .row_04 > div > .estimate > h2 {color:#000;font-size: 20px;line-height: 1.4;margin-bottom: 20px;}
.ride > .row_04 > div > .estimate > div > div {position: relative;color:#C6C6C6;cursor: pointer;}
.ride > .row_04 > div > .estimate > div > div + div {margin-top: 12px; }
.ride > .row_04 > div > .estimate > div > div > input {padding:8px 12px 6px 29px;font-size: 14px; line-height: 2;border: 1px solid #E5E5E4;height: 30px;width:286px;}
.ride > .row_04 > div > .estimate > div > div > i { bottom: 12px;right:12px;font-size: 20px;position: absolute;}
.ride > .row_04 > div > .estimate > div > div > button {
position: absolute;bottom:0px;right:0px;height: 46px; width: 46px;background-color:#C6C6C6;color: #fff;
}
.ride > .row_04 > div > .estimate > div {position: relative;}
.ride > .row_04 > div > .estimate > div > .connect {
position: absolute;top: 12px;bottom: 20px;left: 16px;width: 1px;background-color: #C6C6C6;
}
.ride > .row_04 > div > .estimate > div > .connect:before  {content: '';
position: absolute;left: -3px;width: 5px;height: 5px;border-radius: 50%;bottom: -1.5px;
background-color: #F32F00;border: 1px solid #F32F00;
}
.ride > .row_04 > div > .estimate > div > .connect:after {content: '';
position: absolute;left: -3px;width: 5px;height: 5px;border-radius: 50%;top: -3.5px;
background-color: #27AA0B;border: 1px solid #27AA0B;
} 
.ride > .row_04 h2 {font-size: 24px;font-weight: normal;}
.ride > .row_04 h3 {font-size: 24px;font-weight: 200;}
.ride > .row_04 p {font-size: 14px;}
.ride > .row_04 .btn {height:22px;display: block;position: relative; font-size: 14px;font-weight: bold; color: #fff;text-transform: uppercase;line-height: 22px;background-color: #0D696C;padding: 11px 20px}
.ride > .row_04 .btn > i {position: absolute;bottom:12px;right:20px;font-size: 20px;}
.ride > .row_04 .btn:hover {background:#0b5b5e}
.ride > .row_04 .btn:hover i {right:16px;}


.ride .row_05 {background-color: #f8f8f9; height: 520px; padding: 0 7.058823529% 0 7.058823529%;}
.ride .row_05 p {font-weight: 200; line-height: 30px;}
.ride .row_05 p:first-child {font-size: 14px; padding-top: 100px;}
.ride .row_05 p + p {font-size: 20px;}
.ride .row_05 b {font-weight: 200; color: black; display: inline-block;}
.ride .row_05 a {
      color: #297a7d; font-weight: 600; margin-top: 30px; font-size: 14px;
      display: inline-block;
}
.ride .row_06 {
	height: 200px; font-weight: 200; width: 95%;
	position: absolute; background-color: #fff;

}
.ride .row_06 div:first-child {width: 25px; height: 200px; background: url(../images/row1_bg.svg) #3b1eb1; float: left;}
.ride .row_06 div + div { height: 200px; width: 100%; padding-left: 50px;  padding-top: 30px;}
.ride .row_06 p {font-size: 20px; color: black;}
.ride .row_06 b {margin-bottom: 20px; font-weight: 200; display: block;}
.ride .row_06 a {
	background-color: #0d696c; width: 70%; display: block; color: white; padding: 10px 15px; font-size: 14px; position: relative;
}
.ride .row_06 a i {
	font-size: 20px; position: absolute; right: 10px;
}
.ride .row_06 a + a {display: none;}
.ride .row_07 {
	background-color: #f8f8f9; height: 1200px; padding: 200px 7.058823529% 0 7.058823529%;
	overflow: hidden;
}
.ride .row_07 em {display: block; height: 120px; text-align: bottom;}
.ride .row_07 img {width: 110px;}
.ride .row_07 > div {margin-top: 50px;}
.ride .row_07 svg + p {margin-top: 40px;}
.ride .row_07 p + p {font-size: 22px; font-weight: 200; color: black;}
.ride .row_07 span {font-size: 14px; display: block; font-weight: 200; margin-top: 10px;}
.ride .row_07 b {font-weight: 200; display: block;}
.ride .row_07 a {
      color: #297a7d; font-weight: 600; margin-top: 30px; font-size: 14px;
      display: inline-block;
}




@media screen and (min-width: 769px){


.ride .row_01 .img {
	background: url(../images/desk-ride-hero-c55d08a014.jpg) no-repeat 50% 50%;
	background-size: cover;
	width: 87.058823529%; height: 350px; float: left;
}
.ride .row_01 .bg {
	width: 12.941176471%; height: 350px; float: left; background-color:#3b1eb1;
}
.ride .row_02 {margin-top: 40px;}
.ride .row_02 h2 {font-size: 36px; line-height: 48px; font-weight: 200;}
.ride .row_02 h2 b {display: block;}

.ride .row_02 > div:nth-child(3),
.ride .row_02 > div:nth-child(4) {margin-top: 0px; margin-left: 2%;}
.ride .row_02 > .unit-m-4-12 {width:32%;}
.ride .row_03 {height: 800px; padding: 0 7.058823529% 0 7.058823529%;}
.ride .row_03 h3 {font-size: 24px;}
.ride .row_03 > div > ul {width: 100%;}
.ride .row_03 > div > ul > li ul li > p {margin-right: 0;}
.ride .row_03 > div > ul > li ul li > div {width: 100%;}
.ride .row_03 > div > ul > li ul li > div a.btn {margin-right: 0;}
.ride > .row_04 {height: 444px;}
.ride > .row_04 > div {height: 380px; width: 656px;top:32px;right:32px;bottom: 32px; position: absolute;}
.ride > .row_04 > div > .gmap {display: block; width: 328px;height:380px;position: absolute;right:0px;}
#map {height: 100%;}    
.ride > .row_04 > div > .gmap_s {display: none;}
.ride > .row_04 > div > .estimate {width:296px;position: absolute;left: 0px;bottom: 150px;padding: 0px;}
.ride > .row_04 > div > .estimate > p {line-height: 1;margin-bottom: 8px;}
.ride > .row_04 > div > .estimate > h2 {font-size: 22px;line-height: 1.2;margin-bottom: 16px;}
.ride > .row_04 > div > .estimate > div > div {width: 294px;}
.ride > .row_04 > div > .estimate > div > div > input {width: 251px;}
.ride .row_05 {background-color: #f8f8f9; height: 520px; padding: 0 7.058823529% 0 7.058823529%;}
.ride .row_05 div {width: 60%;}
.ride .row_05 p:first-child {font-size: 20px; padding-top: 100px;}
.ride .row_05 p + p {font-size: 24px;}
.ride .row_05 a {font-size: 16px;}
.ride .row_06 {margin-left: 7.058823529%; margin-right: 0; width: 92.941176471%}
.ride .row_06 div:first-child {width: 50px;}
.ride .row_06 div + div {padding-left: 80px; padding-top: 60px;}
.ride .row_06 a {
	background-color: #0d696c; display: none; color: white; padding: 10px 15px; font-size: 14px;
	overflow: hidden; width: 200px; margin: 20px 0 0 300px;
}
.ride .row_06 p {font-size: 25px; color: black; float: left;}
.ride .row_06 a + a {display: block;}
.ride .row_07 {height: 1050px;}
.ride .row_07 div {overflow: hidden;}
.ride .row_07 em {float: left; margin-right: 40px; height: 150px;}

}



@media screen and (min-width: 1024px){

.ride .row_01 .img {
	background: url(../images/desk-ride-hero-c55d08a014.jpg) no-repeat 50% 50%;
	background-size: cover;
	width: 87.058823529%; height: 460px; float: left;
}
.ride .row_01 .bg {
	width: 12.941176471%; height: 460px; float: left; background-color:#3b1eb1;
}
.ride .row_01:after { content: ''; display: block; clear: both; 
      left:10%; right: 0; bottom: 0; height: 60px;
      background-color: white; position: absolute;
}
.ride .row_01 p {
	position: absolute; right: 80px; bottom: 0px ; clear: both; padding: 25px;
	width: 147px; height: 147px; background-color: #0d696c; color: white; 
    font-size: 20px; font-weight: 200; z-index: 100;
}
.ride .row_01 p span {display: block; margin-bottom: 60px;}
.ride .row_01 p em {display: inline-block; font-style: normal; font-size: 14px; position: relative;}
.ride .row_01 p em i {font-size: 20px; position: absolute; top: 2px; left: 70px;}
.ride .row_01 p .get {display: none;}
.ride .row_01 p .sign {display: block;}
.ride .row_02 {
      background-color: white; margin-top: 40px;
      padding: 0 20% 0 20%; overflow: hidden;
}
.ride .row_02 h2 {font-size: 40px; line-height: 48px;}
.ride .row_03 {height: 1000px; padding: 0 20% 0 20%;}
.ride .row_03 h3 {font-size: 36px; margin-top: 15%;}
.ride .row_03 > div > ul > li ul li > div {margin-top: 5%;}
.ride > .row_04 > div {width:912px; margin-right: 80px;}
.ride > .row_04 > div > .gmap {width: 456px;position: absolute;}
.ride > .row_04 > div > .estimate > div > div {width: 418px;}
.ride > .row_04 > div > .estimate > div > div > input {width: 375px;}
.ride > .row_04 > div > .estimate > p {font-size: 19px;color: #494949;margin-bottom: 12px;font-weight: 200;margin-bottom: 10px;}
.ride > .row_04 > div > .estimate > h2 {font-size: 28px;line-height: 40px;margin-bottom: 24px;}
.ride .row_05 div {width: 60%; margin: 0 auto;}
.ride .row_05 p {font-weight: 200; line-height: 40px;}
.ride .row_05 p + p {font-size: 28px;}
.ride .row_06 {width: 92.95%;}
.ride .row_06 div:first-child {margin-right: 100px;}
.ride .row_06 div + div {padding-top: 45px;}
.ride .row_06 a {width: 200px; margin-top: 40px;}
.ride .row_06 p {font-size: 35px; margin-right: 150px;}
.ride .row_07 {height: 450px; padding: 250px 15% 0 15%;} 
.ride .row_07 > div:nth-child(2),
.ride .row_07 > div:nth-child(3) {margin-top: 50px; margin-left: 2%;}
.ride .row_07 > .unit-l-4-12 {width:32%;}
.ride .row_07 em {float: none; margin-right: 40px; height: 140px;}
}


@media screen and (min-width: 1440px){
.ride > .row_04 {height: 524px;}
.ride > .row_04 > div {width:1167px;}
.ride > .row_04 > div > .gmap {width: 778px;height: 460px; position: absolute;}
.ride > .row_04 > div > .estimate {width:360px;bottom:110px;}
.ride > .row_04 > div > .estimate > p {font-size: 23px;color: #494949;margin-bottom: 12px;font-weight: 200;}
.ride > .row_04 > div > .estimate > h2 {font-size: 36px;line-height: 1.2;}
.ride > .row_04 > div > .estimate > div > div {width: 350px;}
.ride > .row_04 > div > .estimate > div > div > input {width: 308px;}
}
/* main - ride 끝 */

/* main - drive 시작 */
/* main - drive 끝 */

/* main - cities 시작 */
/* main - cities 끝 */



/* footer 시작 */
.footer {background: #000; color: #fff; padding: 0 30px;}
.footer a {color: #fff;}
.footer > div {padding: 18px 0;border-bottom: 1px solid #282727;overflow:auto;}
.footer > .row_01 {padding-top: 40px;}
.footer > .row_01 > div a {display: block;border: 2px solid #fff;background: #fff;line-height:4;text-align: center;color: #000;font-weight: bold;margin-bottom: 16px;}
.footer > .row_01 > div > div:nth-child(2) > a {display: none;}  
.footer > .row_01 > div > div:last-child > a  {background: #000;color: #fff;}

.footer > .row_02 {overflow: hidden;}
.footer > .row_02 > div > div {border-bottom: 1px solid #282727;padding-bottom: 12px;font-size: 14px;line-height:2;}
.footer > .row_02 > div > div > a > span {padding-left: 12px;}
.footer > .row_02 > div > div+div {padding-top: 12px;}
.footer > .row_02 > div > .social > a {margin-right: 26px;}
.footer > .row_02 > div > .social > a > span {display:inline-block;}
.footer > .row_02 > div+div {margin-left: 50%;font-size: 14px;line-height: 2;padding-top: 18px;}
.footer > .row_02 > div+div > ul > li {padding-bottom: 8px;}
.footer > .row_03 > div {padding-bottom: 8px;}
.footer > .row_03 > div > div+div {margin-left: -16px;} 
.footer > .row_03 > div > div > span {color:#C0C0C0;line-height: 28px;}
.footer > .row_03 > div > div > span > a {padding-left: 16px;white-space: nowrap;}

.footer > .row_04 > div {margin-left: 50%;}
.footer > .row_04 > div > a > img {width:120px;height: auto;}

.footer > .row_05 > div {font-size: 10px;}
.footer > .row_05 > div > span {display: block;line-height: 2.8;color:#C0C0C0;}


@media screen and (min-width: 768px){   
.footer > .row_01 > div > div:nth-child(2) > a {display: none;}    
.footer > .row_02 > div+div {margin-left: 0%; }
.footer > .row_05 > div {margin-left: 0%;}
}

@media screen and (min-width: 1024px){
.footer {padding: 0 145px;}
.footer > .row_01 > div  a {font-size: 13px;width: 160px;float: left;line-height:3;}
.footer > .row_01 > div > div:first-child {display: none;}
.footer > .row_01 > div > div:nth-child(2) > a {display: block;} 
.footer > .row_02 {position: relative;}
.footer > .row_02 > div > div {border-bottom:none;}
.footer > .row_02 > div > .social {position:absolute; left: 0px; bottom: 0px;}
.footer > .row_03 > div {margin-left: 33.333333%;}
.footer > .row_05 > div > span {display:inline-block;line-height: 2.8}
}

/* footer 끝 */



